
{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header>
          <!-- Background image -->
          <div
            class="p-5 text-center bg-image"
            style="
              background-image: url('https://images.unsplash.com/photo-1544924751-8acb02fb5331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
              background-size: cover;
              height:500px;
              background-repeat: no-repeat;">
              
            <div class="mask" style="background-color:rgba(247, 156, 156, 0.507);">
              <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                  <h1 class="mb-3" > Events</h1>
                  <h4 class="mb-3">Search for events in your area, share your thoughts and more...</h4>
                  <div> <a class="btn btn-outline-light btn-lg" href="/events" role="button"
                    >Start</a></div>
                </div>
              </div>
            </div>
          </div>
        </header>

        
        <!-- Section--> 
        <section class="py-5" style="background-color:black">
         
          <div class="container"> 
           
          <div class="row">
            {% for event in events %}    
          <div class="col-sm-6 col-md-4" style="padding:30px; flex:auto; align-items: center;">
          <div class="card"  style="background-image:linear-gradient(rgba(245, 248, 245, 0.87), rgba(179, 103, 141, 0.774));">
            <img class="card-img-top" src={{event.images}} alt="Card image cap">
            <div class="card-body" style="flex:auto; padding:10px;">
              <h5 class="card-title">{{event.name }}</h5>
              <p class="card-text">{{ event.dates.start.localDate }}</p>
              <a href="{{event.url}}" class="btn btn-warning">Details</a>
            </div>
          </div>
          </div>
          {%endfor%} 
          </div>
          
        </div>
        
        </section>
{%endblock%}

