<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> Events </title>
    <link rel="icon" type="image/x-icon" href="/static/images/events-image.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b1a2b1b23.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap" rel="stylesheet">
    
  </head>
  <body style="font-family: 'Radio Canada', sans-serif;">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Radio Canada', sans-serif;">
      <div class="container-fluid">
        <img src="/static/images/e.logo.jpg"alt="" width="30" height="24" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="/">Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/"> <i class="fa-solid fa-house"></i> Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/events"> <i class="fa-solid fa-magnifying-glass"></i> Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup"> <i class="fa-solid fa-user-plus"></i> Signup</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Account</a> 
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/login"> <i class="fa-solid fa-circle-right"></i> Login</a></li>
                <li><a class="dropdown-item" href="/comments"> <i class="fa-solid fa-comments"></i> Comments</a></li>
                <li><a class="dropdown-item" href="/logout"> <i class="fa-solid fa-circle-left"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<header style="font-family: 'Radio Canada', sans-serif;">
  <!-- Background image -->
  <div class="p-5 text-center bg-image"
    style="
      background-image: url('https://images.unsplash.com/photo-1544924751-8acb02fb5331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
      background-size: cover;
      height:400px;
      background-repeat: no-repeat;">
              
  <div class="mask" style="background-color:rgba(247, 156, 156, 0.507);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-black">
        <h1 class="mb-3" style="font-size:xxx-large;" > Events</h1>
        <h4 class="mb-3">Search for events in your area, share your thoughts and more...</h4>
        <div> <a class="btn btn-dark mt-auto" href="/events" role="button">Start</a></div>
      </div>
    </div>
  </div>

  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}       
       
  </div>
</header>
      
<!-- Section--> 
<section class="py-5" style="background-color:black">
  <div class="container-fluid" style="margin-inline-start:auto;"> 
    <div class="row">
      {% for event in events %}    
      <div class="col col-lg-3" style="padding:30px; flex:auto; align-items: center;">
        <div class="card"  style="background-image:linear-gradient(rgba(245, 248, 245, 0.87), rgba(179, 103, 141, 0.774));">
          <img class="card-img-top" src={{event.images}} alt="Card image cap">
            <div class="card-body" style="flex:auto; padding:20px;">
              <h5 class="card-title" style="text-align: center;">{{event.name }}</h5>
              <p class="card-text" style="text-align:center;"><u> {{ event.dates.start.localDate }}</u></p>
              <p class="card-text" style="text-align:center;"> <b> {{ event.classifications.genre.name }} </b></p>
              <p class="card-text"> <i class="fa-solid fa-people-group"></i> <b>Family Friendly:</b> {{ 'Yes' if event.classifications.family == True else 'No' }}</p>  
              <p class="card-text">  <i class="fa-solid fa-ticket"></i> <b>Ticket Sales End Date: </b> {{event.sales_end_date}} EST</p>
              <p class="card-text">  <b>EventID </b> {{ event.id }} </p>

              <div class="container" style=" height: 50px; position: relative; color:black;">
              <div class="center" style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
              <div class="btn-group" >

                <button id="slide_start_button" value="Start" class="btn btn-outline-info col mx-4 md-12"  style="appearance: button;
                -moz-appearance: button;
                -webkit-appearance: button;
                text-decoration: none; 
                font: menu; 
                color: ButtonText;
                
                
                "> <a style="color:rgb(23, 7, 94)" href="{{event.url}}"> <i class="fa-solid fa-ticket"></i>  Tickets </a></button>

                <form method="POST" action="/events/{{ event.id }}/wishlist">
                <button id="slide_stop_button" value="Stop" class="btn btn-outline-warning col mx-4 px-4 md-12" type="submit" style= "appearance: button;
                -moz-appearance: button;
                -webkit-appearance: button;
                text-decoration: none; 
                font: menu; 
                color: ButtonText;
                
               
                "> <i class="fa-solid fa-clipboard-list"></i> My Event List </button>
                </form>

             </div>
             </div>
             </div>
            </div>
        </div>
      </div>
      {%endfor%} 
    </div>   
  </div>
</section>
{% block content %}    
{% endblock %} 

  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Events 2022</p></div>
  </footer>
      <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
     
</body>
</html>



