{% extends 'base2.html' %}

{% block content %}

<div class="bg"></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group no-hover" id="commentss">
        <li class="list-group-item">
            <img src="{{ comment.user.image_url }}" alt="" class="timeline-image">
          </a>
          <div class="message-area">
            <div class="message-heading">
              <a href="/users/{{ comment.user.id }}">@{{ comment.user.username }}</a>
              {% if g.user %}
                {% if g.user.id == comment.user.id %}
                  <form method="POST"
                        action="/comments/{{ comment.id }}/delete">
                    <button class="btn btn-outline-danger">Delete</button>
                  </form>
                {% endif %}
              {% endif %}
            </div>
            <p class="single-message">{{ comment.text }}</p>
            <span class="text-muted">{{ comment.timestamp.strftime('%d %B %Y') }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}