{% extends 'base.html' %}
{% block content %}



<section style="background-color:black; color:white; margin:auto;">
<container style="max-width:720px; text-align:center;">
  <br>
  <h1 style="margin:auto; text-align:center;"> Feedback </h1>
<br>
<div>
  <p> Let everyone know how your experience was <a href="/comment/add"> </a></p>
</div>
 <a href="/comments/new" style="color:rgb(250, 186, 126); margin:auto; ">Add comment</a></h3>

  <table class="table" style="color:aliceblue; border:solid rgb(250, 186, 126); margin:auto; max-width:1140px;">
<thead style="color:aliceblue; border:solid rgb(250, 186, 126) ">
      <tr style="color:aliceblue; border:solid rgb(250, 186, 126)">
        <th style="color:rgb(250, 186, 126); border:solid rgb(250, 186, 126)">Event Name</th>
        <th style="color:rgb(250, 186, 126); border:solid rgb(250, 186, 126)">City</th>
        <th style="color:rgb(250, 186, 126); border:solid rgb(250, 186, 126)">Username</th>
        <th style="color:rgb(250, 186, 126); border:solid rgb(250, 186, 126)">Comment</th>
        <th style="color:rgb(250, 186, 126); border:solid rgb(250, 186, 126)">When</th>
      </tr>
</thead>
<tbody>
      {% for comment in comments %}
      <tr>
        <td style="color:aliceblue; border:solid rgb(250, 186, 126)">{{ comment.eventname }}</td> 
        <td style="color:aliceblue; border:solid rgb(250, 186, 126)" >{{ comment.city}}</td>
        <td style="color:aliceblue; border:solid rgb(250, 186, 126)">{{ comment.user.username }}</td>
        <td style="color:aliceblue; border:solid rgb(250, 186, 126)">{{ comment.text }}</td>
        <td style="color:aliceblue; border:solid rgb(250, 186, 126)">{{ comment.timestamp.strftime("%H:%M:%S %d/%m/%Y") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</container>
</section>




{% endblock %}

